<!doctype HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Administrans</title>
        <!-- Safari -->
        <link rel="mask-icon" size="192x192" href="{{ static('trans_pride_flag192x192.png') }}"/>
        <!-- iOS >= 5 -->
        <link rel="apple-touch-icoe" href="{{ static('trans_pride_flag128x128.png') }}"/>
        <link rel="shortcut icon" size="48x48" href="{{ static('trans_pride_flag48x48.png') }}"/>
        <link rel="shortcut icon" size="192x192" href="{{ static('trans_pride_flag192x192.png') }}"/>

        <link rel="stylesheet" href="{{ static('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ static('css/custom.css') }}"/>

        <script src="{{ static('js/jquery-3.6.1.min.js') }}"></script>
        <script src="{{ static('js/bootstrap.min.js') }}"></script>
        <script src="{{ static('js/memory.js') }}"></script>
    </head>
    <body class="center">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url('landing_page') }}">Administrans</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    {% for category, list in lists %}
                    <li class="nav-item"><a href="{{ url('list', kwargs={'category': category}) }}">{{ list.title }}</a></li>
                    {% endfor %}
                    <li class="nav-item"><a href="{{ url('form', kwargs={
                               'category': 'attestation', 'id':
                               'chgmtprenom'}) }}">Changement de prénom</a></li>
                </ul>
                <ul id="memory" class="nav navbar-nav" style="display: none">
                        <li><span title="{{ strings.enableMemory }}" class="icon" id="save">&#128062;&#xfe0e;</span></li>
                        <li><span title="{{ strings.clearData }}" class="icon" id="forget">&#127754;&#xfe0e;</span></li>
                </ul>
            </div>
        </nav>

        <main class="container">

            {% block content %}{% endblock %}

        </main>

        <footer class="text-center">
            <p>En cas de problèmes, merci de préférer <a href="https://github.com/entropyqueen/trans-cec/issues/new">remplir une issue sur github</a>
                <br>
                Ou bien contacter : <a href="mailto: emy.canton@proton.me">Emy Canton</a>
            </p>

            <p>Code source sur : <a href="https://github.com/entropyqueen/trans-cec">github</a>.</p>
        </footer>
    </body>
</html>
